body {
    display: flex;
    font-family: "roboto", sans-serif;
    flex-direction: column;
}

.content-1 {
    display: flex;
    flex-direction: column;
    padding: 0 96px;
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 8px;
}

header a {
    font-size: 18px;
}

.logo {
    font-size: 24px;
}

.main-section {
    display: flex;
    flex-direction: row;
    padding: 48px 0;
}

.left div {
    font-size: 48px;
}

.left p {
    font-size: 18px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    padding: 48px;
    margin: 48px 96px;
}

.info-header {
    font-size: 36px;
    align-self: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    padding: 96px 240px;
}

img {
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.content-3 {
    display: flex;
    flex-direction: column;
    padding: 96px 240px;
    background-color: #E5E7EB;
}

.content-3 div {
    display: flex;
    font-weight: bold;
    justify-self: flex-end;
    align-self: flex-end;
}

blockquote {
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
}

.content-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 24px 48px;
    margin: 48px 96px;
    border-radius: 24px;
}

.content-4 button {
    border-color: #F9FAF8;
    border-radius: 5px;
    align-self: center;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
}